html,
body {
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

h4 {
  margin: 0;
}

.home {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.homepage {
  height: 16%;
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.navbar-name {
  width: 60%;
  color: black;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 25px;
}

.navbar-name h4 {
  align-content: flex-start;
  margin-left: 10%;
  padding-right: 1%;
}

.role {
  margin-bottom: 3px;
  line-height: 25px;
  height: 30%;
  display: flex;
  justify-content: center;
  font-size: 20px;
  text-align: center;
  align-items: flex-end;
}

.navbar-menu {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
}

.nav-item {
  margin: auto;
  cursor: pointer;
}

.nav-item:hover {
  color: #0050ff;
}

.main-content {
  height: 84%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 0px;
}

@media (min-width: 1025px) {
  .main-content {
    padding-left: 20%;
    padding-right: 20%;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .navbar-name {
    width: 45%;
    flex-direction: column;
    justify-content: center;
  }
  .navbar-name h4 {
    margin: 0;
    padding: 0;
  }
  .navbar-menu {
    width: 55%;
  }
  .main-content {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
  }
}

@media (max-width: 768px) and (min-width: 321px) {
  .homepage {
    flex-direction: column;
  }
  .navbar-name {
    height: 50%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .navbar-menu {
    height: 50%;
    width: auto;
    display: flex;
    justify-content: center;
  }
  body {
    background-color: #e6dace;
  }
  .navbar-name h4 {
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 320px) {
  body {
    background-color: #e6dace;
  }
  .homepage {
    flex-direction: column;
    height: 50%;
  }
  .navbar-name {
    height: 50%;
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .navbar-menu {
    height: 50%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main-content {
    flex-direction: column;
    height:50%;
    justify-content: unset;
  }
  .nav-item {
    font-size: small;
  }
  .navbar-name h4 {
    margin: 0;
    padding: 0;
  }
  .home{
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
