.contact-section {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: center;
  align-items: center;
}

.lets-talk {
  height: 30%;
  display: flex;
  align-items: center;
  font-size: 100px;
  text-align: center; 
}

.contact-options {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 23px;
  gap: 0%;
  text-align: center;
}

@media (min-width: 1025px) {
}

@media (max-width: 1024px) and (min-width: 769px) {
}

@media (max-width: 768px) and (min-width: 321px) {
  .main-content{
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
    margin: 0;
    width:100%;
  }
  .contact-section {
    width:fit-content;
  }
  
}

@media (max-width: 320px) {
  .main-content{
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
    margin: 0;
    width:100%;
  }
  .contact-section {
    width:fit-content;
  }
}